#pane {
  position:fixed;
  top:0px;
  bottom:0px;
  right:0px;
  width:100%;
}

#map  {
  position:absolute;
  top:0px;
  bottom:0px;
  width:100%;
  /* left:-50%; */
  transition:opacity 250ms;
  -moz-transition:opacity 250ms;
  -webkit-transition:opacity 250ms;
}

body {
  margin:0px;
  padding:0px;
  font:normal 15px/20px Arial,sans-serif;
  background:#fff;
  }

